<h1>
  Porque hoy no es el día de la madre te quería dedicar algunas palabras...
</h1>
<h2>Mamita:</h2>
<h3 class="text-yellow-shadow">
  En este día tan especial como muchos otros, y que claramente no es el día de
  la madre, aprovecho para expresarte mi gratitud hacia ti, ya que muchas veces
  me guardo lo que siento porque me cuesta expresarlo hablando.
</h3>
<h3 class="text-red-shadow">
  Comienzo por darte las gracias por elegirme, por dejarme ser como soy, por
  aceptarme desde el instante mismo en me viste nacer. Gracias por ese primer
  acto de generosidad invisible que hiciste, cuando tu óvulo con la mitad exacta
  del material genético necesario para que yo existiera, acepto justo el
  espermatozoide de mi padre que contenía la otra mitad precisa de mi ADN y me
  permitió comenzar mi existencia. Pero tú no me diste solo la mitad de mis
  cromosomas, me diste tu ADN mitocondrial, esa herencia exclusivamente materna
  que aún hoy habita en cada una de mis células, produciendo la energía que me
  permite mover, pensar, respirar, y ahora, también escribirte. Esa diminuta
  firma biológica me recuerda que, incluso a nivel molecular, una parte de ti
  aun me mantiene vivo.
</h3>
<h3 class="text-blue-shadow">
  Gracias por ser mi primer universo durante los nueve meses que me llevaste
  dentro de ti, tu cuerpo completo se tuvo que adaptar para priorizar mi vida
  por sobre la tuya. Te convertiste, sin saberlo, en una arquitecta de vida. Tus
  órganos se reorganizaron, tu sistema inmunológico se ajustó para no
  rechazarme, tu sangre aumento en cantidad para alimentarme. Fui, literalmente,
  parte de ti. Me sostuviste flotando en el líquido amniótico que produjiste
  para amortiguar nuestros movimientos, me nutrió tu placenta que solo existía
  porque la creaste, y cada célula que hoy tengo creció en ese entorno perfecto
  que formaste solo para mí.
</h3>
<h3 class="text-yellow-shadow">
  Gracias también porque no solo me cuidaste cuando era pequeño, sino que
  también me guiaste y me enseñaste a ser feliz, a sentirme amado y a confiar en
  mis capacidades para enfrentar el mundo exterior. Toda esa base no se
  construyó solo con regalos ni palabras bonitas, fue forjado con la rutina
  diaria, la ternura, la paciencia y una entrega total que me has dado de forma
  incondicional durante toda mi vida.
</h3>
<h3 class="text-red-shadow">
  Pero también quiero agradecerte por los años que vinieron después de mi
  infancia. Porque como madre siempre te has mantenido cerca, incluso cuando
  viví fuera de Chile, constantemente presente y disponible siempre a una
  llamada de distancia. Y, aun así, lo increíble es que como madre no te
  detuviste solo ahí.
</h3>
<h3 class="text-blue-shadow">
  Hoy, con mis 40 y algo más de años, sigo recibiendo ese amor incondicional. Me
  recibiste con los brazos abiertos cuando volví de Alemania y me hiciste sentir
  que había vuelto a casa. Me has apoyado de todas las formas en las que podría
  pensar, desde lo emocional hasta el banal, pero necesario dinero, me sigues
  ofreciendo tu apoyo, tu ayuda y tu sabiduría. Y sé que no lo haces por
  costumbre, ni por obligación biológica, lo haces por amor y por elección
  propia. Esto mamita, va más allá de cualquier impulso instintivo, es un acto
  de conciencia y de entrega profunda y libre.
</h3>
<h3 class="text-yellow-shadow">
  Eso es lo que más me llena. Que el amor que me diste al principio no fue un
  evento aislado, sino el inicio de una presencia constante y que sé que nunca
  me abandonará. Una maternidad que se renueva cada día y que se ha convertido
  en mi hogar emocional.
</h3>
<h3 class="text-red-shadow">
  Ser tu hijo ha sido el privilegio más importante, constante y bello de mi
  vida. Has sido por lejos la mujer más importante que ha estado a mi lado.
</h3>
<h3 class="text-neon-red-shadow">
  Feliz no día de la madre mamita, con todo mi amor para ti 💗😊💗.
</h3>
<h3 class="text-neon-blue-shadow">Sebas B.</h3>
